{% extends "base.html" %}
{% block title %}小盒子社区{% endblock %}

{% block content %}
    <h2>优秀作品喵~</h2>
    <!-- 卡片展示区域 -->
    <div class="container">
        <a href="/scratch/{{ Excellent_scratch_1 }}" class="card">
            <img src="/scratchphoto/{{ Excellent_scratch_1 }}" alt="封面">
            <h3>{{ Excellent_scratch_work_1 }}</h3>
        </a>
        <a href="/scratch/{{ Excellent_scratch_2 }}" class="card">
            <img src="/scratchphoto/{{ Excellent_scratch_2 }}" alt="封面">
            <h3>{{ Excellent_scratch_work_2 }}</h3>
        </a>
        <a href="/scratch/{{ Excellent_scratch_3 }}" class="card">
            <img src="/scratchphoto/{{ Excellent_scratch_3 }}" alt="封面">
            <h3>{{ Excellent_scratch_work_3 }}</h3>
        </a>
        <a href="/scratch/{{ Excellent_scratch_4 }}" class="card">
            <img src="/scratchphoto/{{ Excellent_scratch_4 }}" alt="封面">
            <h3>{{ Excellent_scratch_work_4 }}</h3>
        </a>
        <a href="/scratch/{{ Excellent_scratch_5 }}" class="card">
            <img src="/scratchphoto/{{ Excellent_scratch_5 }}" alt="封面">
            <h3>{{ Excellent_scratch_work_5 }}</h3>
        </a>
        <a href="/scratch/{{ Excellent_scratch_6 }}" class="card">
            <img src="/scratchphoto/{{ Excellent_scratch_6 }}" alt="封面">
            <h3>{{ Excellent_scratch_work_6 }}</h3>
        </a>
    </div>
    <h2>发现佳作喵~</h2>
    <!-- 卡片展示区域 -->
    <div class="container">
        <a href="/scratch/{{ scid1 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin1 }}</h3>
        </a>
        <a href="/scratch/{{ scid2 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin2 }}</h3>
        </a>
        <a href="/scratch/{{ scid3 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin3 }}</h3>
        </a>
        <a href="/scratch/{{ scid4 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin4 }}</h3>
        </a>
        <a href="/scratch/{{ scid5 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin5 }}</h3>
        </a>
        <a href="/scratch/{{ scid6 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin6 }}</h3>
        </a>
        <a href="/scratch/{{ scid7 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin7 }}</h3>
        </a>
        <a href="/scratch/{{ scid8 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin8 }}</h3>
        </a>
        <a href="/scratch/{{ scid9 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin9 }}</h3>
        </a>
        <a href="/scratch/{{ scid10 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin10 }}</h3>
        </a>
        <a href="/scratch/{{ scid11 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin11 }}</h3>
        </a>
        <a href="/scratch/{{ scid12 }}" class="card">
            <img src="" alt="">
            <h3>{{ zhuopin12 }}</h3>
        </a>
    </div>
{% endblock %}